body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 700px;
    color: #333;
    margin: auto;
}
h1, h2, h3, h4 {
    font-family: 'Crete Round', serif;
}
h1 {
    font-weight: 500;
}
h2 {
    font-weight: 400;
}
h3 {
    font-weight: 300;
}
p,ul,li,.txt-panel {
    font-size: 11pt;
}
.title {
    font-style: italic;
}
.nav-bar {
    font-weight: 400;
    font-size: 12pt;
}
.project {
    display: inline-block;
    vertical-align: top; 
    width: 460px; 
    margin-left: 20px;
}

img.round-pic {
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(+50%);
    width: 120px;
    height: 120px;
}

img.social-logo {
    border-radius: 50%;
    border: solid 2px #fff;
    padding: 3px;
    width: 30px;
    height: 30px;
}

img.paper-fig{
    width: 100%;
    border: solid 1px #ddd;
}

img.paper-snap {
    width: 50px;
    height: 64.7px;
    border: solid 1px #ddd;
}

.txt-panel {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}
/*.img-panel {
    position: absolute;
    top: 0px;
    right: 150px;
    }*/

.ribbon {
    background: #ccc;
    height: 5px
}

.github-icon-svg {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}


hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}




.icons {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.author {
    margin: auto;
}
